extends layout

block content
  script(src="/js/home.js")
  h1= title
  p Welcome to #{title}


  input#inputField(type="text")
  input#submitButton(type="button" value="submit")

  div#mainContents

